[submodule "lib/forge-std"]
	path = evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "GeneralisedIncentives"]
	path = evm/lib/GeneralisedIncentives
	url = https://github.com/catalystdao/GeneralisedIncentives.git