[submodule "evm/lib/permit2"]
	path = evm/lib/permit2
	url = https://github.com/Uniswap/permit2.git
[submodule "evm/lib/solmate"]
	path = evm/lib/solmate
	url = https://github.com/transmissions11/solmate.git
